<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LeParfum - Inicio</title>
  <link rel="stylesheet" type="text/css" href="style-landing.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <% if(isLoggedIn){ %>
    <%- include ('../modules/header-login.ejs') %>
  <%} else{ %>
    <%- include ('../modules/header-logout.ejs') %>
  <%} %>
  
  <section class="h-100 gradient-form landing-page">
    <!--Slider de imagenes banner-->
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/banners/banner-lp-1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/banners/banner-lp-2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/banners/banner-lp-3.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!--Nav Productos-->
    <ul class="nav justify-content-center tab-products">
      <li class="nav-item">
        <a class="nav-link fs-6 fw-bold text-uppercase" style="color: whitesmoke;" href="#">Ofertas</a>
      </li>
      <div class="vr ms-5 me-5"></div>
      <li class="nav-item">
        <a class="nav-link fs-6 fw-bold text-uppercase" style="color: whitesmoke;" href="#">Hombre</a>
      </li>
      <div class="vr ms-5 me-5"></div>
      <li class="nav-item">
        <a class="nav-link fs-6 fw-bold text-uppercase" style="color: whitesmoke;" href="#">Mujer</a>
      </li>
      <div class="vr ms-5 me-5"></div>
      <li class="nav-item">
        <a class="nav-link fs-6 fw-bold text-uppercase" style="color: whitesmoke;" href="#">Niños</a>
      </li>
    </ul>

    <!--Info Page-->
    <div class="row d-flex justify-content-center info-bar pt-4 shadow-sm">
      <div class="col-lg-3 col-md-6 col-sm-6 d-grid justify-content-center align-content-between">
        <div class="d-flex justify-content-center align-items-center">
          <img src="img/icons/satisfaccion.png" alt="" class="img img-info">
        </div>
        <p class="fs-5 text-center">Satisfacción Garantizada <br> Productos originales y de calidad</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-grid justify-content-center align-content-between">
        <div class="d-flex justify-content-center align-items-center">
          <img src="img/icons/envios.png" alt="" class="img img-info">
        </div>
        <p class="fs-5 text-center">Envíos Rápidos y Seguros <br> Entrega a tiempo garantizada</p>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6 d-grid justify-content-center align-content-between">
        <div class="d-flex justify-content-center align-items-center">
          <img src="img/icons/pagos.png" alt="" class="img img-info">
        </div>
        <p class="fs-5 text-center">Múltiples Opciones de Pago <br> Facilidad y seguridad en tus pagos</p>
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6 d-grid justify-content-center align-content-between">
        <div class="d-flex justify-content-center align-items-center">
          <img src="img/icons/calidad.png" alt="" class="img img-info">
        </div>
        <p class="fs-5 text-center">Productos de Alta Calidad <br> Garantizamos la calidad de nuestros productos</p>
      </div>
    </div>
    <!--Marcas Destacadas-->
    <div class="container py-3 h-100 products">
      <div class="container mt-3 mb-3">
        <div class="row text-center">
            <div class="col d-none d-xl-block">
                <ul class="list-unstyled list-inline d-flex justify-content-center align-items-center row d-none d-xl-block">
                    <li class="list-inline-item col-xl-2 mt-2">
                        <a href="#">
                            <img src="img/logos/tommy-logo.jpg" alt="Marca 1" class="brand-logo">
                        </a>
                    </li>
                    <li class="list-inline-item col-xl-2 mt-2">
                        <a href="#">
                            <img src="img/logos/ck-logo.jpg" alt="Marca 2" class="brand-logo">
                        </a>
                    </li>
                    <li class="list-inline-item col-xl-2 mt-2">
                        <a href="#">
                            <img src="img/logos/hugo-logo.jpg" alt="Marca 3" class="brand-logo">
                        </a>
                    </li>
                    <li class="list-inline-item col-xl-2 mt-2">
                        <a href="#">
                            <img src="img/logos/vic-logo.jpg" alt="Marca 4" class="brand-logo">
                        </a>
                    </li>
                    <li class="list-inline-item col-xl-2 mt-2">
                        <a href="#">
                            <img src="img/logos/giorgio-logo.jpg" alt="Marca 5" class="brand-logo">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
      <!-- Productos Destacados -->
      <div class="row">
        <div class="col-12 text-start  mb-3">
          <p class="fs-3 titulos border-bottom ms-3">Productos Destacados</p>
        </div>
        <!--Método para cargar los productos más vendidos-->
        <% oferta.forEach(producto => { %>
          <div class="col-lg-3 col-md-6 col-sm-6 d-grid justify-content-center align-content-between">
            <div class="card card-product border-0">
              <a href="/template-product/<%= producto._id %>"><img class="img img-product" src="<%= producto.imagen %>" alt="<%= producto.nombre %>"></a>
              <div class="card-header fw-bold" style="color: rgb(138, 22, 22)">
                $<%= producto.precio %>
              </div>
              <div class="card-body">
                <p class="card-text"><%= producto.nombreProducto %></p>
              </div>
            </div>
          </div>
        <% }); %>
        
        <div class="col-12 text-center">
          <img class="img img-fluid" src="img/banners/banner-mid-1.jpg" alt="">
        </div>
        <!--Productos-->
        <% listado.forEach(producto => { %>
          <div class="col-lg-3 col-md-6 col-sm-6 d-grid justify-content-center align-content-between">
            <div class="card card-product border-0">
              <a href="/template-product/<%= producto._id %>"><img class="img img-product" src="<%= producto.imagen %>" alt="<%= producto.nombre %>"></a>
              <div class="card-header fw-bold" style="color: rgb(138, 22, 22)">
                $<%= producto.precio %>
              </div>
              <div class="card-body">
                <p class="card-text"><%= producto.nombreProducto %></p>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>

  </section>
  <!-- Pie de Página -->
  <%- include ('../modules/footer.ejs') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
