<!-- Mostrar mensajes flash de éxito (por ejemplo, al registrarse correctamente) -->
<% if (typeof successFlash !== 'undefined') { %>
    <div class="alert alert-success">
      <%= successFlash %>
    </div>
  <% } %>
  
  <!-- Mostrar mensajes flash de error (por ejemplo, al ingresar credenciales incorrectas) -->
  <% if (typeof errorFlash !== 'undefined') { %>
    <div class="alert alert-danger">
      <%= errorFlash %>
    </div>
  <% } %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <script src="../public/filtro.js"></script>
  <link rel="stylesheet" type="text/css" href="style-perfumeria.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <header >
    <nav class="navbar navbar-expand-lg navbar-expand-sm bg-body-tertiary shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="#">
          <span class="navbar-img">
            <img class="ms-5" src="https://i.ibb.co/ZNG7Xmj/P-1-removebg-preview.png" alt="P-1-removebg-preview" border="0" width="80" height="80">
          </span>
        </a>
      </div>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active fs-6" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-6" href="/perfumeria">Perfumería</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-6" href="/suscripcion">Suscripcion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-6" href="/nosotros">Nosotros</a>
            </li>
          </ul>
          <a href="/login" class="navbar-brand"><span class="navbar-img">
            <img src="img/icons/login-icon.svg" alt="Login" width="50" height="50">
          </span></a>
        </div>
      </div>
    </nav>
  </header>
  
  
  <section class="h-100 gradient-form side-perfumeria">

    <div class="container perfumeria">
      <div class="text-center">
        <img class="img img-fluid border-1" src="img/banners/banner-mid-2.jpg" alt="">
      </div>
      <div class="row mt-4">
        <!--Filtro de busqueda-->
        <div class="filtro-horizontal mt-2 mb-2 col-lg-3 d-none d-md-block h-100">
          <p class="fs-6 mt-1 ms-3 fw-medium text-body-secondary border-bottom">Filtrar por categoría</p>
          <ul class="list-group mb-2 list-group-flush">
            <li class="list-group-item">
              <p class="fs-6 mt-1 ms-3 fw-bold text-body-secondary border-bottom">Marca</p>
              <div id="marcaContainer" class="ms-3 checkbox-container">
                <!-- Los checkboxes se generarán aquí dinámicamente -->
              </div>
            </li>
            <li class="list-group-item">
              <p class="fs-6 mt-1 ms-3 fw-bold text-body-secondary border-bottom">Tipo</p>
              <div id="tipoContainer" class="ms-3 checkbox-container">
                <!-- Los checkboxes se generarán aquí dinámicamente -->
              </div>
            </li>
            <li class="list-group-item">
              <p class="fs-6 mt-1 ms-3 fw-bold text-body-secondary border-bottom">Colección</p>
              <div class="form-check ms-3">
                <input class="form-check-input" type="checkbox" id="Hombre">
                <label class="form-check-label" for="Hombre">
                  Perfumes para Hombre
                </label>
              </div>
              <div class="form-check ms-3">
                <input class="form-check-input" type="checkbox" id="Mujer">
                <label class="form-check-label" for="Mujer">
                  Perfumes para Mujer
                </label>
              </div>
              <div class="form-check ms-3">
                <input class="form-check-input" type="checkbox" id="Niño">
                <label class="form-check-label" for="Niño">
                  Perfumes para Niño
                </label>
              </div>
              <!-- Agrega más checkboxes para los tipos de sexo que desees -->
            </li>
          </ul>
        </div>
        
        <!--Espacio para la carga de productos-->
        <div class="col-xl-9 col-lg-9">
          <div class="row">
            <!--Se cargan todos los productos hacia abajo-->
            <% productos.forEach(producto => { %>
              <div class="col-lg-3 col-md-6 col-sm-6 d-grid justify-content-center align-content-between">
                <div class="card card-product border-0">
                  <a href=""><img class="img img-product" src="<%= producto.imagen %>" alt="<%= producto.nombre %>"></a>
                  <div class="card-header fw-bold" style="color: rgb(138, 22, 22)">
                    $<%= producto.precio %>
                  </div>
                  <div class="card-body">
                    <p class="card-text"><%= producto.nombreProducto %></p>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>
          
        </div>
        
        
      </div>
    </div>
  </section>
  
  
  <!-- Pie de Página -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 mt-3">
          <p class="fw-semibold">INFORMACIÓN</p>
          <ul class="">
            <li class="list-group-item"><a class="nav-link" href=""><span>&#10132;</span>Cómo comprar</a></li>
            <li class="list-group-item"><a class="nav-link" href=""><span>&#10132;</span>Métodos de pago</a></li>
            <li class="list-group-item"><a class="nav-link" href=""><span>&#10132;</span>Seguridad</a></li>
            <li class="list-group-item"><a class="nav-link" href=""><span>&#10132;</span>Envíos</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6 mt-3">
          <p class="fw-semibold">EMPRESA</p>
          <ul class="">
            <li class="list-group-item"><a class="nav-link" href=""><span>&#10132;</span>Sobre Nosotros</a></li>
            <li class="list-group-item"><a class="nav-link" href=""><span>&#10132;</span>Términos y Condiciones</a></li>
            <li class="list-group-item"><a class="nav-link" href=""><span>&#10132;</span>Contacto</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-12 mt-3">
          <p class="fw-semibold">SIGUENOS</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a class="nav-link" href=""><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 24 24">
              <path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"></path>
            </svg></a></li>
            <li class="list-inline-item"><a class="nav-link" href=""><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
              <path d="M24,4H6C4.895,4,4,4.895,4,6v18c0,1.105,0.895,2,2,2h10v-9h-3v-3h3v-1.611C16,9.339,17.486,8,20.021,8 c1.214,0,1.856,0.09,2.16,0.131V11h-1.729C19.376,11,19,11.568,19,12.718V14h3.154l-0.428,3H19v9h5c1.105,0,2-0.895,2-2V6 C26,4.895,25.104,4,24,4z"></path>
            </svg></a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col">
          <p>Propiedad artística © 2023 LeParfum. <br>
            Todos los derechos reservados por LeParfum Chile</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
