<% if (typeof successFlash !== 'undefined') { %>
    <div class="alert alert-success">
      <%= successFlash %>
    </div>
  <% } %>

  <% if (typeof errorFlash !== 'undefined') { %>
    <div class="alert alert-danger">
      <%= errorFlash %>
    </div>
  <% } %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LeParfum - Suscripción</title>
  <script src="../public/filtro.js"></script>
  <link rel="stylesheet" type="text/css" href="style-suscripcion.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <% if(isLoggedIn){ %>
    <%- include ('../modules/header-login.ejs') %>
  <%} else{ %>
    <%- include ('../modules/header-logout.ejs') %>
  <%} %>
  
  
  <section class="h-100 gradient-form suscripcion-back">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
                <div class="col-12 text-center mt-3">
                    <p class="fs-3 fw-medium titulo"> SUSCRIPCIONES LEPARFUM</p>
                </div>
                <div class="col-12 text-center mt-3 ms-3">
                    <p class="fs-5 fw-medium me-5">
                        Suscríbete para recibir mensualmente una muestra de perfumes según tus preferencias en la puerta de tu casa. Dependiendo
                        de la suscripcion podrás recibir drops exclusivos sorpresa, packaging limitado, fragancias únicas.
                    </p>
                </div>
                <form action="/subscription" method="GET">
                <div class="col-4">
                    <div class="card border-0" style="min-height: 400px;">
                        <div class="card-body text-center d-grid justify-content-center align-items-between" >
                          <h5 class="card-title mb-3">Essentiel</h5>
                          <p class="card-text">
                            <img class="card-img-top" src="img/icons/essentiel.png" alt="" style="height: 100px; width: 100px;"><br>
                            - Entrega en 5 días hábiles. <br>
                            - Atención al cliente en horario laboral.<br>
                            - Perfume TravelSpray de 15ml.<br>
                            - Rango de perfumes hasta los <b>$80.000</b><br>
                          </p>
                          <p class="card-text text-success fw-bold">
                            $10.520 iva inc.
                          </p>
                          
                        </div>
                      </div>
                      <div class="col-10">
                        <button type="submit" class="btn btn-danger w-100 rounded-0">Suscribirme</button>
                      </div>
                </div>
              </form>
                <form action="/subscription" method="GET">
                  <input type="hidden" name="subscriptionType" value="Elite">
                  <input type="hidden" name="amount" value="18850"> 
                <div class="col-4 h-100">
                    <div class="card border-0" style="min-height: 400px;">
                        <div class="card-body text-center d-grid justify-content-center align-items-center">
                          <h5 class="card-title mb-3">Elite</h5>
                          <p class="card-text">
                            <img class="card-img-top" src="img/icons/elite.png" alt="" style="height: 100px; width: 100px;"><br>
                            - Entrega en 48 horas. <br>
                            - Prioridad en Atencion al Cliente.<br>
                            - Perfume TravelSpray de 15ml.<br>
                            - Rango de perfumes hasta los <b>$150.000</b><br>
                          </p>
                          <p class="card-text text-success fw-bold">
                            $18.850 iva inc.
<<<<<<< HEAD
                          </p>
=======
                          </p>                          
>>>>>>> 04ca2fd044efa1688363f0feafc7752e3e4e0f7f
                        </div>
                      </div>
                      <div class="col-10">
                        <button type="submit" class="btn btn-danger w-100 rounded-0" name="Elite" value="18850">Suscribirme</button>
                      </div>
                </div>
              </form>
                <form action="/subscription" method="POST">
                <div class="col-4">
                    <div class="card border-0" style="min-height: 400px;">
                        <div class="card-body text-center d-grid justify-content-center align-items-center">
                          <h5 class="card-title mb-3">Luxueux</h5>
                          <p class="card-text">
                            <img class="card-img-top" src="img/icons/luxueux.png" alt="" style="height: 100px; width: 100px;"><br>
                            - Entrega en 24 horas. <br>
                            - Atencion al Cliente Inmediata<br>
                            - Resolucion de problemas en 24 horas.<br>
                            - Perfume TravelSpray de 15ml.<br>
                            - Mini Gel de Ducha de regalo cada 3 meses.<br>
                            - Rango de perfumes hasta los <b>$200.000</b><br>
                            - Packaging Edicion Limitada.
                          </p>
                          <p class="card-text text-success fw-bold">
                            $24.800 iva inc.
<<<<<<< HEAD
                          </p>
                        </div>
                      </div>
                      <div class="col-10">
                        <button type="submit" class="btn btn-danger w-100 rounded-0" name="Luxueux" value="24800">Suscribirme</button>
                      </div>
=======
                          </p>                          
                        </div>
                      </div>
                </div>
                <div class="col-12 text-center mt-3 mb-2 pb-3">
                  <div class="row">
                    <div class="col-4">
                      <a mp-mode="dftl" href="https://www.mercadopago.cl/subscriptions/checkout?preapproval_plan_id=2c9380848b2a4561018b3e330c6b0c02" name="MP-payButton" class='btn btn-primary shadow'>Suscribirme</a>
                          <script type="text/javascript">
                             (function() {
                                function $MPC_load() {
                                   window.$MPC_loaded !== true && (function() {
                                   var s = document.createElement("script");
                                   s.type = "text/javascript";
                                   s.async = true;
                                   s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js";
                                   var x = document.getElementsByTagName('script')[0];
                                   x.parentNode.insertBefore(s, x);
                                   window.$MPC_loaded = true;
                                })();
                             }
                             window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;
                             })();
                            /*
                                  // to receive event with message when closing modal from congrants back to site
                                  function $MPC_message(event) {
                                    // onclose modal ->CALLBACK FUNCTION
                                   // !!!!!!!!FUNCTION_CALLBACK HERE Received message: {event.data} preapproval_id !!!!!!!!
                                  }
                                  window.$MPC_loaded !== true ? (window.addEventListener("message", $MPC_message)) : null; 
                                  */
                          </script>
                    </div>
                    <div class="col-4">
                      <a href="https://www.mercadopago.cl/subscriptions/checkout?preapproval_plan_id=2c9380848bade29c018bb57b458f0690" name="MP-payButton" class='btn btn-primary shadow'>Suscribirme</a>
                          <script type="text/javascript">
                             (function() {
                                function $MPC_load() {
                                   window.$MPC_loaded !== true && (function() {
                                   var s = document.createElement("script");
                                   s.type = "text/javascript";
                                   s.async = true;
                                   s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js";
                                   var x = document.getElementsByTagName('script')[0];
                                   x.parentNode.insertBefore(s, x);
                                   window.$MPC_loaded = true;
                                })();
                             }
                             window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;
                             })();
                            /*
                                  // to receive event with message when closing modal from congrants back to site
                                  function $MPC_message(event) {
                                    // onclose modal ->CALLBACK FUNCTION
                                   // !!!!!!!!FUNCTION_CALLBACK HERE Received message: {event.data} preapproval_id !!!!!!!!
                                  }
                                  window.$MPC_loaded !== true ? (window.addEventListener("message", $MPC_message)) : null; 
                                  */
                          </script>
                    </div>
                    <div class="col-4">
                      <a href="https://www.mercadopago.cl/subscriptions/checkout?preapproval_plan_id=2c9380848bade276018bb57e1b9906c8" name="MP-payButton" class='btn btn-primary shadow'>Suscribirme</a>
                          <script type="text/javascript">
                             (function() {
                                function $MPC_load() {
                                   window.$MPC_loaded !== true && (function() {
                                   var s = document.createElement("script");
                                   s.type = "text/javascript";
                                   s.async = true;
                                   s.src = document.location.protocol + "//secure.mlstatic.com/mptools/render.js";
                                   var x = document.getElementsByTagName('script')[0];
                                   x.parentNode.insertBefore(s, x);
                                   window.$MPC_loaded = true;
                                })();
                             }
                             window.$MPC_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;
                             })();
                            /*
                                  // to receive event with message when closing modal from congrants back to site
                                  function $MPC_message(event) {
                                    // onclose modal ->CALLBACK FUNCTION
                                   // !!!!!!!!FUNCTION_CALLBACK HERE Received message: {event.data} preapproval_id !!!!!!!!
                                  }
                                  window.$MPC_loaded !== true ? (window.addEventListener("message", $MPC_message)) : null; 
                                  */
                          </script>
                    </div>
                  </div>
>>>>>>> 04ca2fd044efa1688363f0feafc7752e3e4e0f7f
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <!-- Pie de Página -->
  <%- include ('../modules/footer.ejs') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
